/*large device*/
@media only screen and (max-width: 1500px) {
  /* */
}

/*large device*/
@media only screen and (max-width: 1200px) {
  /* */
}

/*medium device*/
@media only screen and (max-width: 992px) {
  /* */
}

/*small device*/
@media only screen and (max-width: 768px) {
  /* */
  .hero_title > h1 {
    font-family: "Merriweather";
    font-weight: regular;
    font-size: 32px;
    line-height: 60px;
    margin: 0;
  }
  .skills_title > h2 > span {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 32px;
  }
  .digital {
    font-family: "inter";
    font-weight: bold;
    font-size: 20px;
  }
  .high {
    font-family: "Inter";
    font-weight: regular;
    font-size: 18px;
  }
  .skills_item {
    width: 300px;
    height: 224px;
    margin-bottom: 40px;
}
.pf {
    font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.portfolio-btns .btn2 .btn5 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
}
.pv {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 32px;
}
.pc {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 32px;
}
/*extra small device*/
@media only screen and (max-width: 480px) {
  /* */
}

/*custom device*/
@media only screen and (max-width: 320px) {
  /* */
}
