/*large device*/
@media only screen and (max-width: 1500px) {
  /* */
}

/*large device*/
@media only screen and (max-width: 1200px) {
  /* */
}

/*medium device*/
@media only screen and (max-width: 992px) {
  /* */
}

/*small device*/
@media only screen and (max-width: 768px) {
  /* */
  .hero_title > h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 60px;
    margin: 0;
  }
  .skills_title > h2 > span {
    font-size: 30px;
  }
  .digital {
    font-size: 18px;
  }
  .high {
    font-size: 15px;
  }
}

/*extra small device*/
@media only screen and (max-width: 480px) {
  /* */
}

/*custom device*/
@media only screen and (max-width: 320px) {
  /* */
}
