/*roboto*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/inter-v12-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/merriweather-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/merriweather-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/merriweather-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/merriweather-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-900 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../fonts/merriweather-v30-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/merriweather-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", "Merriweather", "Roboto", sans-serif;
  background: #000000;
  color: #fff;
}

/* Header----------------------------*/

.container {
  max-width: 1440px;
  min-height: 90px;
  margin: 0px auto;
  padding: 0px 20px;
}

.header {
  background: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center 0;

  /*padding: 20px 20px;*/
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  background-image: url("./assets/img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.header_logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  /*padding: 20px 20px;*/
}
.header_menu {
  margin-left: auto;
  width: 500px;
  /*padding-right: 10px;*/
}
.menu_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu_item {
  font-size: 20px;
}
.menu_link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
}

.block1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  /* identical to box height, or 250% */
  text-align: center;
}

/* Footer------------------------------------*/
.footer {
}
.container_footer {
  max-width: 1440px;
  min-height: 150px;
  margin: 0px auto;
  padding: 0px 20px;
}
.container_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_data {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.footer_text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.github {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}

.text1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.social_item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.social_list {
}

/*Hero-------------------------------*/
.hero {
  width: 500px;
  height: 354px;
  padding-left: 80px;
  left: calc(50% - 500px / 2 - 390px);
  top: 226px;
}
.section1 {
  height: 910px;
  background-image: url(../img/header-bg.jpeg);
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero_title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
.hero_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.btn1 {
  width: 220px;
  height: 55px;
  background: #bdae82;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  font-family: inherit;
  /*font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;*/
  /* identical to box height, or 200% */

  /*text-align: center;*/
}
.btn1:hover {
  opacity: 0.9;
}

/*skills--------------*/
.section2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
.section2 {
  text-align: center; /* выравнивание заголовка по центру обертки */
  width: 50%; /* ширина обертки. На самом деле для фиксированной верстки можно использовать и px, но лучше сразу адаптировать под разные устройства, т.к. это, что называется, тренди :-) */
  margin: 0 auto; /* выравнивание обертки по центру документа */
  overflow: hidden; /* прячем линии за границами обертки, чтобы в случае изменения ширины экрана линии не выходили за ее пределы */
}
.section2 span {
  position: relative;
}
.section2 span::before {
  display: block; /* делаем псевдоэлемент блоком для последующего работы с ним, как с простым div'ом */
  width: 1000px; /* устанавливаем ширину линию. Можно использовать произвольную ширину */
  content: ""; /* позволяет вставлять генерируемое содержание в текст страницы, которое первоначально в тексте отсутствует */
  position: absolute; /* абсолютное позиционирование для управления линиями */
  border-bottom: 2px solid #bdae82; /* бордер псевдо дива, т.е. сама линия */
  top: 50%; /* позиционирование по вертикали */
  right: 180px; /* позиционирование по горизонтали */
}
.section2 span:after {
  display: block;
  width: 1000px;
  content: "";
  position: absolute;
  border-bottom: 2px solid #bdae82;
  top: 50%;
  left: 180px;
}
.skills_title {
  width: 700px;
  height: 80px;
}

.skills_items {
  max-width: 1440px;
}
.skills_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills_item {
  max-width: 320px;
  height: 240px;
}

/*portfolio----------*/
.btn2 {
  width: 220px;
  height: 55px;
  background-color: transparent;
  color: #bdae82;
  border: 1px solid #bdae82;
  cursor: pointer;
  margin-top: 25px;
  font-family: inherit;
  /*font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;*/
  /* identical to box height, or 200% */

  /*text-align: center;*/
}
.btn2:hover {
  opacity: 0.9;
}
.portfolio-btns {
  text-align: center;
}
.section-title {
  text-align: center;
  color: #bdae82;
}

.pf {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #bdae82;
}
.pf {
  text-align: center; /* выравнивание заголовка по центру обертки */
  width: 50%; /* ширина обертки. На самом деле для фиксированной верстки можно использовать и px, но лучше сразу адаптировать под разные устройства, т.к. это, что называется, тренди :-) */
  margin: 0 auto; /* выравнивание обертки по центру документа */
  overflow: hidden; /* прячем линии за границами обертки, чтобы в случае изменения ширины экрана линии не выходили за ее пределы */
}
.pf span {
  position: relative;
}
.pf span::before {
  display: block; /* делаем псевдоэлемент блоком для последующего работы с ним, как с простым div'ом */
  width: 1000px; /* устанавливаем ширину линию. Можно использовать произвольную ширину */
  content: ""; /* позволяет вставлять генерируемое содержание в текст страницы, которое первоначально в тексте отсутствует */
  position: absolute; /* абсолютное позиционирование для управления линиями */
  border-bottom: 2px solid #bdae82; /* бордер псевдо дива, т.е. сама линия */
  top: 50%; /* позиционирование по вертикали */
  right: 200px; /* позиционирование по горизонтали */
}
.pf span:after {
  display: block;
  width: 1000px;
  content: "";
  position: absolute;
  border-bottom: 2px solid #bdae82;
  top: 50%;
  left: 200px;
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.portfolio-items {
  padding: 60px 0px 0px 20px;
}

.portfolio-items img {
  max-width: 450px;
  max-height: 560px;
}
